language: c

os:
  - linux

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
      - graphviz
      - autopoint
      - autoconf
      - intltool
      - texinfo
      - texlive-full
      - libgd2-noxpm
      - libgd2-noxpm-dev
      - lesstif2
      - lesstif2-dev
      - libghc-gtkglext-prof
      - libsqlite3-dev
      - libdbus-glib-1-dev
      - libdbus-1-dev

before_install:
  - sudo apt-get -qq update

script: scripts/build.sh

# blacklist
branches:
  except:
    - master

# whitelist
branches:
  only:
    - devel

notifications:
  recipients:
    - bert.timmerman@xs4all.nl
  email:
    on_success: change
    on_failure: always

