language: c

os:
  - linux

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
      - graphviz
      - autopoint
      - intltool
      - dbus-1

before_install:
  - sudo apt-get -qq update

script: scripts/build.sh

# blacklist
branches:
  except:
    - master

# whitelist
branches:
  only:
    - devel

notifications:
  recipients:
    - bert.timmerman@xs4all.nl
  email:
    on_success: change
    on_failure: always

