dist: xenial

language: c

os:
  - linux

compiler:
  - gcc
  - clang

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libgtk2.0-dev
    autopoint
    autotools-dev
    libgettextpo-dev
    gettext
    libstroke0-dev
    guile-2.0-dev
    flex
    bison
    groff
    texinfo
    texlive-base
    texlive-generic-recommended
    texlive-latex-base
    texlive-full
    graphviz
    intltool
    libgd-dev
    libsqlite3-dev
    libdbus-glib-1-dev
    libdbus-1-dev
    desktop-file-utils
  #- ./scripts/install_gettext.sh
  #- ./scripts/install_autoconf.sh
  # FIXME[2017-02-15] This is required because Ubuntu Trusty only has
  # Guile-2.0.9, which doesn't include SRFI-64
  - sudo mkdir -p /usr/share/guile/2.0/srfi/srfi-64
  - sudo curl http://git.savannah.gnu.org/cgit/guile.git/plain/module/srfi/srfi-64.scm -o /usr/share/guile/2.0/srfi/srfi-64.scm 
  - sudo curl http://git.savannah.gnu.org/cgit/guile.git/plain/module/srfi/srfi-64/testing.scm -o /usr/share/guile/2.0/srfi/srfi-64/testing.scm
  #- ./scripts/install_geda_gaf.sh
  #- ./scripts/install_gerbv.sh

script: scripts/build.sh

# blacklist
branches:
  except:
    - master

# whitelist
branches:
  only:
    - devel

notifications:
  recipients:
    - bert.timmerman@xs4all.nl
  email:
    on_success: change
    on_failure: always

