*.pdf
*.png
actions.texi
debumpify.out.pdf
debumpify.out.png
debumpify.pdf
debumpify.png
fractional_size.texi
letter_size.texi
mdate-sh
metric_size.texi
miter.out.pdf
miter.out.png
miter.pdf
miter.png
options.texi
orthopull.out.pdf
orthopull.out.png
orthopull.pdf
orthopull.png
pad.eps
pad.gif
pcb.aux
pcb.cp
pcb.cps
pcb.dvi
pcb.fn
pcb.fns
pcb.html
pcb.info
pcb.info-1
pcb.info-2
pcb.ky
pcb.log
pcb.pg
pcb.ps
pcb.toc
pcb.tp
pcb.vr
pcb.vrs
pcbfile.texi
puller.eps
puller.gif
refcard.aux
refcard.dvi
refcard.log
refcard.ps
td_ex1.pdf
td_ex1.png
thermal.eps
thermal.gif
unjaggy.out.pdf
unjaggy.out.png
unjaggy.pdf
unjaggy.png
version.texi
vianudge.out.pdf
vianudge.out.png
vianudge.pdf
vianudge.png
viatrim.out.pdf
viatrim.out.png
viatrim.pdf
viatrim.png
wire_size.texi
