Source: pcb
Section: electronics
Priority: optional
Maintainer: Eugene Mikhantiev <mikhantiev@gmail.com>
XSBC-Original-Maintainer: Debian Electronics Team <pkg-electronics-devel@lists.alioth.debian.org>
Uploaders: Eugene Mikhantiev <mikhantiev@gmail.com>
Build-Depends: debhelper (>= 9), bison, flex, libgts-dev, libgtkglext1-dev, tk, libgd2-xpm-dev | libgd2-dev, libdbus-1-dev, libmotif-dev, libxmu-dev, libxml-parser-perl, intltool, imagemagick, autopoint, autoconf, gawk, texinfo, texlive-binaries, texlive-generic-recommended, texlive-latex-base, ghostscript, geda-gschem
Standards-Version: 3.9.3
Homepage: http://pcb.geda-project.org/

Package: pcb
Architecture: all
Depends: ${misc:Depends}, pcb-gtk | pcb-lesstif, pcb-common
Description: printed circuit board (pcb) design program - meta-package
 PCB is an interactive printed circuit board editor for the X11 window 
 system. PCB includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 PCB offers high end features such as an autorouter and trace optimizer 
 which can tremendously reduce layout time.

Package: pcb-common
Architecture: all
Replaces: pcb
Depends: ${misc:Depends}, m4, tk8.5 | wish, tcl8.5 | tclsh, pcb-gtk | pcb-lesstif
Recommends: extra-xdg-menus
Description: printed circuit board (pcb) design program - common files
 PCB is an interactive printed circuit board editor for the X11 window 
 system. PCB includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 PCB offers high end features such as an autorouter and trace optimizer 
 which can tremendously reduce layout time.
 .
 This package contains the common files.

Package: pcb-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-common
Description: printed circuit board (pcb) design program - GTK+ interface
 PCB is an interactive printed circuit board editor for the X11 window 
 system. PCB includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 PCB offers high end features such as an autorouter and trace optimizer 
 which can tremendously reduce layout time.
 .
 This package contains the GTK+ user-interface for pcb.

Package: pcb-lesstif
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-common
Description: printed circuit board (pcb) design program - LessTif interface
 PCB is an interactive printed circuit board editor for the X11 window 
 system. PCB includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 PCB offers high end features such as an autorouter and trace optimizer 
 which can tremendously reduce layout time.
 .
 This package contains the LessTif user-interface for pcb.

Package: pcb-common-dev
Architecture: all
Depends: ${misc:Depends}, pcb-common, pcb-gtk-dev | pcb-lesstif-dev
Description: printed circuit board (pcb) design program - meta-package
 PCB is an interactive printed circuit board editor for the X11 window 
 system. PCB includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 PCB offers high end features such as an autorouter and trace optimizer 
 .
 This plugin contains C headers necessary for building plugins

Package: pcb-gtk-dev
Architecture: all
Conflicts: pcb-lesstif-dev
Replaces: pcb-lesstif-dev
Depends: ${misc:Depends}, pcb-gtk
Description: printed circuit board (pcb) design program - meta-package
 PCB is an interactive printed circuit board editor for the X11 window 
 system. PCB includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 PCB offers high end features such as an autorouter and trace optimizer 
 .
 This plugin contains C headers necessary for building plugins

Package: pcb-lesstif-dev
Architecture: all
Conflicts: pcb-gtk-dev
Replaces: pcb-gtk-dev
Depends: ${misc:Depends}, pcb-lesstif
Description: printed circuit board (pcb) design program - meta-package
 PCB is an interactive printed circuit board editor for the X11 window 
 system. PCB includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 PCB offers high end features such as an autorouter and trace optimizer 
 .
 This plugin contains C headers necessary for building plugins
