*.[oa]
*_lists.h
dbus-introspect.h
edif.[ch]
parse_l.c
parse_y.[ch]
predicates_init
res_lex.c
res_parse.[ch]
*pcb-menu.h
*pcb-menu.res.h
pcbtest.sh
pcb
pcb.exe
pcb_icon.ico
gpcb-menu.res
lessgtkpcb-menu.res
pcb-menu.res
parse_y.output
unittest
unittest.exe
